
.titleRow {
    margin: 3vh;
    color: slategrey;
}


.footerText {
    font-size: 1.2vh;
}


#visRegEx-container {
    height: 50vh;
    width: 100vw;
}

#regexTextDisplay {
    width: 80vw;
}

#humanSummaryTextDisplay {
    width: 80vw;
}

#submitRegex {
    width: 10vw;
    height: 3vh;
}