
.titleRow {
    margin: 3vh;
    color: slategrey;
}


.footerText {
    font-size: 1.2vh;
}


#visRegEx-container {
    position: absolute;
}

#regexTextDisplay {
    width: 80vw;
}

#humanSummaryTextDisplay {
    width: 80vw;
}