.node {
    cursor: pointer;
}

.overlay{
    background-color: #fff7f1;
}

.node circle {
    fill: steelblue;
    stroke: #434343;
    stroke-width: 1.5px;
}

.node wordCircle {
    fill: #fae49f;
    stroke: #434343;
    stroke-width: 1.5px;
}

.node wordRectangle {
    fill: #fae49f;
    stroke: #434343;
    stroke-width: 1.5px;
}

.node rectangle {
    fill: steelblue;
    stroke: #434343;
    stroke-width: 1.5px;
}

.node text {
    font-size:10px;
    font-family:sans-serif;
}

.link {
    fill: none;
    stroke: #ababab;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: #c400ff;
    stroke-width: 3px;
}

.ghostCircle.show{
    display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
    display: none;
}